*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: antiquewhite;
background-image: url(imgs/nature-3843736_640.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    max-width: 450px;
    background-color: linear-gradiant (255, 255,255, 0.5);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    font-family: sans-serif;
    padding: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

h1{
    color: #000;
    letter-spacing: 1.1px;
    font-size: 35px;
}
#celcius, #fahrenheit, #kelvin{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-color:black;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}

 input ::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button{
    -webkit-appearance: none;
 }
.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size:30px;
    background: #3b71a4;
    
    border-radius: 0 8px 8px 0;
    opacity: 0.5;
}
.button{
    margin-top: 25px;
    text-align: center;
}
.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size:20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.button button:hover{
    background-color: #1d1717;
    color: #fff;
}
.icon{
    border : 2px solid rgb(249, 247, 247);
}